<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="G:\Учёба\3 курс - 2 семестр\Проектирование_информ_систем\Практика\Course_project\Logs\internal.txt">
    
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target xsi:type="File" name="allfile" fileName="G:\Учёба\3 курс - 2 семестр\Проектирование_информ_систем\Практика\Course_project\Logs\nlog-all-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="File" name="ownFile" fileName="G:\Учёба\3 курс - 2 семестр\Проектирование_информ_систем\Практика\Course_project\Logs\nlog-own-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="Microsoft.*" minlevel="Trace" final="true" />
        <logger name="*" minlevel="Trace" writeTo="ownFile" />
    </rules>
</nlog>